In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

from sklearn.feature_selection import VarianceThreshold

In [2]:
data = pd.read_csv('1830151.csv')
data.shape

(50000, 19)

In [3]:
data.T.duplicated()

business_code             False
cust_number               False
name_customer             False
clear_date                False
buisness_year             False
doc_id                    False
posting_date              False
document_create_date      False
document_create_date.1    False
due_in_date               False
invoice_currency          False
document type             False
posting_id                False
area_business             False
total_open_amount         False
baseline_create_date      False
cust_payment_terms        False
invoice_id                False
isOpen                    False
dtype: bool

In [92]:
[col for col in data.columns if data[col].isnull().sum() > 0]

['clear_date', 'area_business', 'invoice_id']

In [93]:
[data[col].isnull().sum() for col in data.columns if data[col].isnull().sum() > 0]

[4041, 50000, 4]

In [94]:
data_train=data.loc[data['clear_date'].notna()]
data_null_cleardate=data.loc[data['clear_date'].isna()]
df=data_train
df=df.drop(labels='document_create_date.1',axis=1)

In [95]:
df.head()

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200780383,MEIJ,2019-07-10 00:00:00,2019.0,1.929535e+09,2019-06-24,20190624,20190709.0,USD,RV,1.0,NaN,52499.91,20190624.0,NAA8,1.929535e+09,0
1,U001,0200769623,WAL-MAR foundation,2019-01-09 00:00:00,2019.0,1.928539e+09,2018-12-30,20181229,20190114.0,USD,RV,1.0,NaN,34233.17,20181230.0,NAH4,1.928539e+09,0
2,U001,0200769623,WAL-MAR associates,2019-07-26 00:00:00,2019.0,1.929624e+09,2019-07-16,20190716,20190731.0,USD,RV,1.0,NaN,55955.58,20190716.0,NAH4,1.929624e+09,0
3,U001,0200769623,WAL-MAR systems,2019-12-09 00:00:00,2019.0,1.930184e+09,2019-11-22,20191122,20191207.0,USD,RV,1.0,NaN,6142.90,20191122.0,NAH4,1.930184e+09,0
4,U001,0200936373,SUPE us,2019-06-27 00:00:00,2019.0,1.929478e+09,2019-06-11,20190612,20190626.0,USD,RV,1.0,NaN,32792.21,20190611.0,NAA8,1.929478e+09,0

In [96]:
def convert_to_date(x):
    return x[:4] + '-' + x[4:6] + '-' + x[6:]

In [97]:
df['clear_date']=pd.to_datetime(df['clear_date'])
df['posting_date']=pd.to_datetime(df['posting_date'])
df['due_in_date']=pd.to_datetime(df['due_in_date'].astype(int).astype(str).map(lambda x: convert_to_date(x)))
df['document_create_date']=pd.to_datetime(df['document_create_date'].astype(int).astype(str).map(lambda x: convert_to_date(x)))
df['baseline_create_date']=pd.to_datetime(df['baseline_create_date'].astype(int).astype(str).map(lambda x: convert_to_date(x)))

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200780383,MEIJ,2019-07-10,2019.0,1.929535e+09,2019-06-24,2019-06-24,2019-07-09,USD,RV,1.0,NaN,52499.91,2019-06-24,NAA8,1.929535e+09,0
1,U001,0200769623,WAL-MAR foundation,2019-01-09,2019.0,1.928539e+09,2018-12-30,2018-12-29,2019-01-14,USD,RV,1.0,NaN,34233.17,2018-12-30,NAH4,1.928539e+09,0
2,U001,0200769623,WAL-MAR associates,2019-07-26,2019.0,1.929624e+09,2019-07-16,2019-07-16,2019-07-31,USD,RV,1.0,NaN,55955.58,2019-07-16,NAH4,1.929624e+09,0
3,U001,0200769623,WAL-MAR systems,2019-12-09,2019.0,1.930184e+09,2019-11-22,2019-11-22,2019-12-07,USD,RV,1.0,NaN,6142.90,2019-11-22,NAH4,1.930184e+09,0
4,U001,0200936373,SUPE us,2019-06-27,2019.0,1.929478e+09,2019-06-11,2019-06-12,2019-06-26,USD,RV,1.0,NaN,32792.21,2019-06-11,NAA8,1.929478e+09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45954,U001,0200230690,DECA systems,2019-11-18,2019.0,1.930098e+09,2019-11-04,2019-11-04,2019-11-24,USD,RV,1.0,NaN,386.52,2019-11-01,NAM4,1.930098e+09,0
45955,U001,0100000222,SMITHFIE systems,2019-09-16,2019.0,1.929814e+09,2019-09-05,2019-08-31,2019-09-20,USD,RV,1.0,NaN,19594.68,2019-09-05,NAA8,1.929814e+09,0
45956,U001,0200752302,KROGER corporation,2019-07-19,2019.0,1.929576e+09,2019-07-04,2019-07-05,2019-07-19,USD,RV,1.0,NaN,57165.90,2019-07-04,NAA8,1.929576e+09,0
45957,U001,CCU013,KRAFT F corp,2019-06-28,2019.0,1.929319e+09,2019-05-16,2019-05-15,2019-05-16,USD,RV,1.0,NaN,8153.70,2019-05-16,NAX2,1.929319e+09,0
45958,U001,0200769623,WAL-MAR,2020-01-21,2020.0,1.930378e+09,2020-01-10,2020-01-09,2020-01-25,USD,RV,1.0,NaN,15691.42,2020-01-10,NAH4,1.930378e+09,0

In [100]:
df.head()

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200780383,MEIJ,2019-07-10,2019.0,1.929535e+09,2019-06-24,2019-06-24,2019-07-09,USD,RV,1.0,NaN,52499.91,2019-06-24,NAA8,1.929535e+09,0
1,U001,0200769623,WAL-MAR foundation,2019-01-09,2019.0,1.928539e+09,2018-12-30,2018-12-29,2019-01-14,USD,RV,1.0,NaN,34233.17,2018-12-30,NAH4,1.928539e+09,0
2,U001,0200769623,WAL-MAR associates,2019-07-26,2019.0,1.929624e+09,2019-07-16,2019-07-16,2019-07-31,USD,RV,1.0,NaN,55955.58,2019-07-16,NAH4,1.929624e+09,0
3,U001,0200769623,WAL-MAR systems,2019-12-09,2019.0,1.930184e+09,2019-11-22,2019-11-22,2019-12-07,USD,RV,1.0,NaN,6142.90,2019-11-22,NAH4,1.930184e+09,0
4,U001,0200936373,SUPE us,2019-06-27,2019.0,1.929478e+09,2019-06-11,2019-06-12,2019-06-26,USD,RV,1.0,NaN,32792.21,2019-06-11,NAA8,1.929478e+09,0

In [195]:
#pd.cut(X_train_data['Age'], bins=bins, labels=labels, right=False)
bins=[pd.Timedelta("-9999 days"),pd.Timedelta("0 days"),pd.Timedelta("16 days"),pd.Timedelta("31 days"),pd.Timedelta("46 days"),pd.Timedelta("61 days"),pd.Timedelta("9999 days")]
labels=['Before Due date','0-15 days','16-30 days','31-45 days','46-60 days','Greater than 60 days']

abc=pd.cut(df['clear_date']-df['due_in_date'], bins=bins, labels=labels, right=False)
abc=abc.rename('age_bucket').to_frame()
df=pd.concat([df,abc],axis=1)

In [202]:
df=df.drop(['clear_date'],axis=1)

In [269]:
df['buisness_year']=df['buisness_year'].astype(int)

In [270]:
df.head()

,business_code,cust_number,name_customer,buisness_year,doc_id,posting_date,document_create_date,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen,age_bucket
0,U001,0200780383,MEIJ,2019,1.929535e+09,2019-06-24,2019-06-24,2019-07-09,USD,RV,1.0,NaN,52499.91,2019-06-24,NAA8,1.929535e+09,0,0-15 days
1,U001,0200769623,WAL-MAR foundation,2019,1.928539e+09,2018-12-30,2018-12-29,2019-01-14,USD,RV,1.0,NaN,34233.17,2018-12-30,NAH4,1.928539e+09,0,Before Due date
2,U001,0200769623,WAL-MAR associates,2019,1.929624e+09,2019-07-16,2019-07-16,2019-07-31,USD,RV,1.0,NaN,55955.58,2019-07-16,NAH4,1.929624e+09,0,Before Due date
3,U001,0200769623,WAL-MAR systems,2019,1.930184e+09,2019-11-22,2019-11-22,2019-12-07,USD,RV,1.0,NaN,6142.90,2019-11-22,NAH4,1.930184e+09,0,0-15 days
4,U001,0200936373,SUPE us,2019,1.929478e+09,2019-06-11,2019-06-12,2019-06-26,USD,RV,1.0,NaN,32792.21,2019-06-11,NAA8,1.929478e+09,0,0-15 days

In [227]:
df.columns

Index(['business_code', 'cust_number', 'name_customer', 'buisness_year',
       'doc_id', 'posting_date', 'document_create_date', 'due_in_date',
       'invoice_currency', 'document type', 'posting_id', 'area_business',
       'total_open_amount', 'baseline_create_date', 'cust_payment_terms',
       'invoice_id', 'isOpen', 'age_bucket'],
      dtype='object')

In [289]:
df.drop(['posting_id','area_business'],axis=1,inplace=True)
df=df.drop(['isOpen'],axis=1)
df=df.sort_values(by='baseline_create_date',ignore_index=True)

In [304]:
df.T.duplicated().sum()

0

In [305]:
df

,business_code,cust_number,name_customer,buisness_year,doc_id,posting_date,document_create_date,due_in_date,invoice_currency,document type,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,age_bucket
0,CA02,0140104409,LOB us,2019,9.500000e+09,2019-03-29,2019-03-29,2018-12-06,CAD,X2,420.40,2018-11-26,CA10,NaN,Greater than 60 days
1,CA02,0140120967,VEG PR corp,2019,2.960522e+09,2019-01-11,2019-01-11,2018-12-17,CAD,RV,250.00,2018-12-07,CA10,2.960522e+09,Greater than 60 days
2,CA02,0140104429,COSTCO associates,2019,2.960522e+09,2019-01-11,2019-01-11,2019-01-07,CAD,RV,728.00,2018-12-28,CA10,2.960522e+09,31-45 days
3,U001,0200769623,WAL-MAR llc,2019,1.928542e+09,2018-12-30,2018-12-29,2019-01-14,USD,RV,18912.14,2018-12-30,NAH4,1.928542e+09,0-15 days
4,U001,0200706844,WINC,2019,1.928543e+09,2018-12-30,2018-12-30,2019-01-14,USD,RV,80358.83,2018-12-30,NAA8,1.928543e+09,0-15 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45954,CA02,0140106293,ATLANT,2020,2.960616e+09,2020-02-26,2020-02-26,2020-03-16,CAD,RV,10782.47,2020-03-06,CA10,2.960616e+09,0-15 days
45955,CA02,0140104409,LOB corporation,2020,2.960616e+09,2020-02-26,2020-02-26,2020-03-16,CAD,RV,167684.61,2020-03-06,CA10,2.960616e+09,0-15 days
45956,CA02,0140106293,ATLANT co,2020,2.960616e+09,2020-02-26,2020-02-26,2020-03-16,CAD,RV,44.27,2020-03-06,CA10,2.960616e+09,0-15 days
45957,U001,0200424504,M,2020,1.930474e+09,2020-02-07,2020-02-03,2020-03-15,USD,RV,1788.31,2020-03-15,NACE,1.930474e+09,0-15 days
45958,U001,0200424504,M associates,2020,1.930494e+09,2020-02-07,2020-02-06,2020-03-15,USD,RV,6412.66,2020-03-15,NACE,1.930494e+09,0-15 days

In [206]:
X_train, X_test, y_train, y_test = train_test_split(
    df.drop(['age_bucket'], axis=1),
    df['age_bucket'],
    test_size=0.3,
    random_state=20)

X_train.shape, X_test.shape

((32171, 17), (13788, 17))