In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import IsolationForest
from sklearn.covariance import EllipticEnvelope
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
# import xgboost as xgb
from sklearn.datasets import load_boston
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix
from sklearn import preprocessing

In [2]:
data = pd.read_csv('1830151.csv') #loading data
data.shape

(50000, 19)

In [3]:
import json

In [4]:
file = open('qq.json',mode='r')
all_of_it = file.read()
file.close()

In [5]:
data = json.loads(all_of_it)

In [7]:
data = pd.DataFrame(data)

In [24]:
df=data.copy()

In [25]:
df

,business_code,cust_number,name_customer,clear_date,business_year,doc_id,posting_date,document_create_date,due_in_date,invoice_currency,document_type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen,notes
0,U001,0200315290,KWI foundation,2019-01-22 00:00:00,2019,1928499600,2018-12-30,2018-12-30,2019-01-14,USD,RV,1,None,15128.6,2018-12-30,NAA8,1928499600,0,asASAsASSasASasASa
1,U001,0200782669,SYGMA trust,2019-02-06 00:00:00,2019,1928509276,2019-01-02,2019-01-02,2019-02-03,USD,RV,1,None,19477.92,2019-01-02,NA32,1928509276,0,None
2,U001,CCU013,KRAFT F co,2019-03-01 00:00:00,2019,1928511028,2018-12-30,2018-12-30,2018-12-30,USD,RV,1,None,2557.02,2018-12-30,NAX2,1928511028,0,None
3,U001,0200434439,BAUGH SU us,2019-01-16 00:00:00,2019,1928511094,2019-01-04,2019-01-04,2019-02-05,USD,RV,1,None,8551.44,2019-01-04,NA32,1928511094,0,None
4,U001,0200726979,BJ'S us,2019-01-15 00:00:00,2019,1928516320,2018-12-31,2018-12-31,2019-01-15,USD,RV,1,None,103.21,2018-12-31,NAA8,1928516320,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,U001,0200759878,SA llc,2019-01-29 00:00:00,2019,1928609011,2019-01-13,2019-01-13,2019-01-28,USD,RV,1,None,14380.16,2019-01-13,NAH4,1928609011,0,None
71,U001,0100006176,MENAS llc,2019-07-26 00:00:00,2019,1929333314,2019-05-17,2019-05-17,2019-07-16,USD,RV,1,None,21312.36,2019-05-17,NA8Q,1929333314,0,None
72,U001,0200797452,US,2019-06-07 00:00:00,2019,1929333320,2019-05-16,2019-05-16,2019-05-31,USD,RV,1,None,37464.41,2019-05-16,NAA8,1929333320,0,None
73,U001,CCU013,KRAFT F trust,2019-06-28 00:00:00,2019,1929333356,2019-05-20,2019-05-20,2019-05-20,USD,RV,1,None,5569.47,2019-05-20,NAX2,1929333356,0,None
74,None,sdfa,adf,None,2021,12,2021-03-21,2021-03-21,2021-03-21,None,None,None,None,12,2021-03-21,None,12,None,qwsweq

In [26]:
def con_date_time(df):
    df['clear_date']=pd.to_datetime(df['clear_date'])
    df['posting_date']=pd.to_datetime(df['posting_date'])
    df['due_in_date']=pd.to_datetime(df['due_in_date'],format='%Y%m%d', errors='ignore')
    df['document_create_date']=pd.to_datetime(df['document_create_date'],format='%Y%m%d', errors='ignore')
    df['baseline_create_date']=pd.to_datetime(df['baseline_create_date'], format='%Y%m%d', errors='ignore')
    df['business_year']=df['business_year'].astype(int)
    return None

In [27]:
con_date_time(df)

In [28]:
df

,business_code,cust_number,name_customer,clear_date,business_year,doc_id,posting_date,document_create_date,due_in_date,invoice_currency,document_type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen,notes
0,U001,0200315290,KWI foundation,2019-01-22,2019,1928499600,2018-12-30,2018-12-30,2019-01-14,USD,RV,1,None,15128.6,2018-12-30,NAA8,1928499600,0,asASAsASSasASasASa
1,U001,0200782669,SYGMA trust,2019-02-06,2019,1928509276,2019-01-02,2019-01-02,2019-02-03,USD,RV,1,None,19477.92,2019-01-02,NA32,1928509276,0,None
2,U001,CCU013,KRAFT F co,2019-03-01,2019,1928511028,2018-12-30,2018-12-30,2018-12-30,USD,RV,1,None,2557.02,2018-12-30,NAX2,1928511028,0,None
3,U001,0200434439,BAUGH SU us,2019-01-16,2019,1928511094,2019-01-04,2019-01-04,2019-02-05,USD,RV,1,None,8551.44,2019-01-04,NA32,1928511094,0,None
4,U001,0200726979,BJ'S us,2019-01-15,2019,1928516320,2018-12-31,2018-12-31,2019-01-15,USD,RV,1,None,103.21,2018-12-31,NAA8,1928516320,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,U001,0200759878,SA llc,2019-01-29,2019,1928609011,2019-01-13,2019-01-13,2019-01-28,USD,RV,1,None,14380.16,2019-01-13,NAH4,1928609011,0,None
71,U001,0100006176,MENAS llc,2019-07-26,2019,1929333314,2019-05-17,2019-05-17,2019-07-16,USD,RV,1,None,21312.36,2019-05-17,NA8Q,1929333314,0,None
72,U001,0200797452,US,2019-06-07,2019,1929333320,2019-05-16,2019-05-16,2019-05-31,USD,RV,1,None,37464.41,2019-05-16,NAA8,1929333320,0,None
73,U001,CCU013,KRAFT F trust,2019-06-28,2019,1929333356,2019-05-20,2019-05-20,2019-05-20,USD,RV,1,None,5569.47,2019-05-20,NAX2,1929333356,0,None
74,None,sdfa,adf,NaT,2021,12,2021-03-21,2021-03-21,2021-03-21,None,None,None,None,12,2021-03-21,None,12,None,qwsweq

In [29]:
a=df
# Encoding String terms
code_business_code = {k: i for i, k in enumerate(a.business_code.unique(), 1)}
code_cust_payment_terms = {k: i for i, k in enumerate(a.cust_payment_terms.unique(), 1)}
code_cust_number = {k: i for i, k in enumerate(a.cust_number.unique(), 1)}
code_name_customer = {k: i for i, k in enumerate(a.name_customer.unique(), 1)}

def encoding(df_obj):
    df_obj.loc[:, 'code_business_code'] = df_obj.loc[:, 'business_code'].map(code_business_code)
    df_obj.loc[:, 'code_cust_payment_terms'] = df_obj.loc[:, 'cust_payment_terms'].map(code_cust_payment_terms)
    df_obj.loc[:, 'code_cust_number'] = df_obj.loc[:, 'cust_number'].map(code_cust_number)
    df_obj.loc[:, 'code_name_customer'] = df_obj.loc[:, 'name_customer'].map(code_name_customer)
    return None

# creating fetures from date
def dates_feature(df_dates):
    df_dates['posting_date_month'],df_dates['posting_date_day'],df_dates['posting_date_year'],df_dates['posting_date_quarter'],df_dates['posting_date_dayofweek'],df_dates['posting_date_week']=df_dates['posting_date'].dt.month,df_dates['posting_date'].dt.day,df_dates['posting_date'].dt.year,df_dates['posting_date'].dt.quarter,df_dates['posting_date'].dt.dayofweek,df_dates['posting_date'].dt.isocalendar().week.astype(int)
#     df_dates['due_in_date_month'],df_dates['due_in_date_day'],df_dates['due_in_date_year'],df_dates['due_in_date_quarter'],df_dates['due_in_date_dayofweek'],df_dates['due_in_date_week']=df_dates['due_in_date'].dt.month,df_dates['due_in_date'].dt.day,df_dates['due_in_date'].dt.year,df_dates['due_in_date'].dt.quarter,df_dates['due_in_date'].dt.dayofweek,df_dates['due_in_date'].dt.isocalendar().week.astype(int)
#     df_dates['document_create_date_month'],df_dates['document_create_date_day'],df_dates['document_create_date_year'],df_dates['document_create_date_quarter'],df_dates['document_create_date_dayofweek'],df_dates['document_create_date_week']=df_dates['document_create_date'].dt.month,df_dates['document_create_date'].dt.day,df_dates['document_create_date'].dt.year,df_dates['document_create_date'].dt.quarter,df_dates['document_create_date'].dt.dayofweek,df_dates['document_create_date'].dt.isocalendar().week.astype(int)
#     df_dates['baseline_create_date_month'],df_dates['baseline_create_date_day'],df_dates['baseline_create_date_year'],df_dates['baseline_create_date_quarter'],df_dates['baseline_create_date_dayofweek'],df_dates['baseline_create_date_week']=df_dates['baseline_create_date'].dt.month,df_dates['baseline_create_date'].dt.day,df_dates['baseline_create_date'].dt.year,df_dates['baseline_create_date'].dt.quarter,df_dates['baseline_create_date'].dt.dayofweek,df_dates['baseline_create_date'].dt.isocalendar().week.astype(int)
    return None

encoding(df)
dates_feature(df)

AttributeError: Can only use .dt accessor with datetimelike values